body {
    margin: 0;
    padding: 0;
    background-image: url('omomen-flores.png');
    background-repeat: repeat; /* Repetir vertical y horizontalmente */
    background-size: 247px 190px; /* Tamaño de la imagen de fondo */
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 40%;
    height: auto;
    background-color: rgba(221, 228, 18, 0.821);
    padding: 20px; /* Aumentar el relleno */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 100%; /* Aumentar el ancho máximo de la tarjeta */
    text-align: center; /* Centrar el contenido */
}

.video-wrapper {
    max-width: 100%;
    height: 300px; /* Para mantener la proporción del video */
    text-align: center; /* Centrar el video horizontalmente */
}

iframe {
    width: 100%;
    height: 100%; /* Para que el video ocupe todo el espacio disponible */
}

.text {
    text-align: center;
    font-size: 24px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    font-weight: bold; /* Negrita */
    margin-top: 20px; /* Espacio superior */
    padding: 20px; /* Relleno interior */
    background-color: rgba(228, 219, 58, 0.985);
    border-radius: 5px;
}

/* Agrega estos estilos al final de tu archivo style.css */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #004cff; /* Color de fondo dorado */
    color: #08d7fb; /* Color de texto blanco */
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0d00ff; /* Color de fondo dorado más claro al pasar el mouse */
}

